@model IEnumerable<MyFirstWebsite.Models.GameListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>Genre: @item.Genre, Developer: @item.Developer, Publisher: @item.Publisher</div>
        <div>Reviews: @item.CountOfReviews</div>
        <hr />
    </div>
}